<p id="notice"><%= notice %></p>

<h1>Listing Patients</h1>

<table>
  <thead>
    <tr>
      <th>Pet name</th>
      <th>Pet type</th>
      <th>Notes</th>
      <th>Date in</th>
      <th>Date out</th>
      <th>Healthy</th>
      <th>Doctor</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.pet_name %></td>
        <td><%= patient.pet_type %></td>
        <td><%= patient.notes %></td>
        <td><%= patient.date_in %></td>
        <td><%= patient.date_out %></td>
        <td><%= patient.healthy %></td>
        <td><%= patient.doctor.name %></td>
        <td><%= patient.patient_picture %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
