<!DOCTYPE html>
<html>
<head>
  <title>Clinic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<%= link_to "Doctors", doctors_path, class:"link", id:"doctors_link" %>
<%= link_to "Patients", patients_path %>
<%if user_signed_in? %>
        Welcome,  <%= current_user.email %>!
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
        Sign in Sign up
        <%= link_to "Sign in", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
    <% end %>

</header>
<%= yield %>


</body>
</html>
